.wrap {
    width: 90%; 
    text-align: center;
    background-color: #0666a3; 
    height:800px;
    }
  .container {
    display: inline-block; 
    margin: 30px auto;
    padding: 3px;
    background-color: #8ebf42;
    height:600px;
    width: 80%;
    }
    #your-password {
        width: 90%;
        height: 300px;
        border: dotted 2px gray;
    }
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
      #password {
          text-align: center;
      }