body {
  background-color:#eee; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#wrap {
    width: auto; 
    text-align: center;
    background-color: #e5e5e5; 
    height:800px;
    margin: 40px 50px 50px;
    border: 1px solid #63c363;
}
  
    
  #container {
    display: inline-block; 
    margin: 30px auto;
    padding: 40px;
    background-color:#eee; 
    height:600px;
    width: 90%;
    border: 4px solid #e5e5e5;
    
  }

  h2 {
    text-align: left;
    margin-left: 80px;
  }

  

  /* .select-btn {
    width: 50%;
    height: auto;
    border: 2px solic black; 
    background-color: tomato;
    
  } */
    #your-password {
        width: 90%;
        height: 50%;
        border: dotted 2px gray;
        text-align: center;
        margin-top: 50px;
    }
    hr {
      width: 90%;
    }
    #generate {
        background-color:rgb(155, 6, 6); 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
        float:left;
        margin-left: 80px;
    }

    #copy {
      background-color:gray; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
      float: right;
      margin-right: 80px;
  }
  #ucase {
    background-color:yellow ;
    float: left;
    border: 2px solid black;
    margin-right: 50px;
    margin-left: 70px;
    padding-right: 10px;
  }

  #lcase {
    background-color:yellow ;
    float: left;
    border: 2px solid black;
    float: center;
    margin-left: 150px;
    padding-right: 10px;
  }
  /* There must be a better way to move checkboxes... */

  #numeric {
    background-color:yellow ;
    float: right;
    border: 2px solid black;
    margin-right: 70px;
    padding-right: 10px;
    
  }
      
  #schar {
    background-color:yellow ;
    float: right;
    border: 2px solid black;
    margin-right: 250px;
    padding-right: 10px;
    
  }
      